nav {	background-color: #65bbe9;
		margin-top: 0px;
		padding-bottom: 0px;
		border: 3px solid #000000;
}

#wrapper {	margin-left: auto;
			margin-right: auto;
			width: 80%;
			min-width: 960px;
			background-color: #ffffff;
			-webkit-box-shadow: 5px 5px 5px #000033;
			-moz-box-shadow: 5px 5px 5px #000033;
			box-shadow: 5px 5px 5px #000033;
			font-family: 'Akzidenz-Grotesk'
}
#content {	border: 3px solid #000033;
			padding-left: 10px;
			padding-right: 10px
}
body {	background-color: #aceaff;
}
footer {	font-style: italic;
			font-family: 'Rabiohead';
			font-size: 125%
}
@font-face {	font-family: 'Rabiohead';
				src: url('rabiohead.ttf');
}
@font-face {	font-family: 'Akzidenz-Grotesk';
				src: url('Akzidenz-Grotesk.ttf');
}
h2 {	font-family: 'Rabiohead';
		font-weight: bold;
		font-size: 40px;
		margin-top: 5px;
		margin-bottom: 0px;
		margin-left: 10px;
		text-decoration: underline;
}
h3 {	font-family: 'Rabiohead';
		font-weight: bold;
		font-size: 30px;
		margin-top: 5px;
		margin-bottom: 0px;
		margin-left: 10px;
}
#cite {	font-family: 'Akzidenz-Grotesk';
		font-size: 75%;
}
#newsletter2 a {	color: #000000;
					text-decoration: none;
}
#newsletter2 a:hover {	color: #65bbe9;
}
#newsletter2 a:visited {	color: #000000;
}
#newsletter {	width: 100%;
				height: 640px;
}
table {	border: 1px solid #000033;
}
th {	background-color: #65bbe9;
		font-family: 'Rabiohead';
		font-size: 30px;
		border: 1px solid #000033;
}
td {	border: 1px solid #000033;
		text-align: center;
}
h4 {	font-family: 'Rabiohead';
		font-weight: bold;
		font-size: 35px;
		margin-top: 5px;
		margin-bottom: 0px;
		margin-left: 10px;
		text-align: center;
}
#release {	font-family: 'Rabiohead';
			font-weight: bold;
			font-size: 25px;
			margin-top: 5px;
			margin-bottom: 0px;
			margin-left: 10px;
			text-align: center;
}
#youtube {	text-align: center;
}
/* I want to die */
#newsletter2 {	text-decoration: none;
}
figcaption {	display: block;
				font-style: italic; 
				text-align: center;
				text-size: 80%;
}
.dropdown {	position: relative;
			display: inline-block;
}
.dropdown-content {	display: none;
					position: absolute;
					background-color: #f1f1f1;
					min-width: 160px;
					box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					z-index: 1;
}
.dropdown-content a {	color: #ffffff;
						background-color: #65bbe9;
						padding: 12px 16px;
						text-decoration: none;
						display: block;
}
.dropdown-content a:hover {	color: #65bbe9;
							background-color: #ffffff;
}
.dropdown:hover .dropdown-content {	display: block;
}
#sub {	width: 150px;
	float: left;
}
